$inner-cover-padding: 0 !default
$inner-cover-max-width: $desktop !default

.wp-block-cover
  &.has-parallax
    background-position: center center
    // transition: background-position $default-transition-timing ease-in-out
    
  &__inner-container
    margin: 0 auto
    max-width: $inner-cover-max-width
    padding: $inner-cover-padding
    position: relative
