$gallery-figcaption-link: $warning
$gallery-figcaption-link-hover: $warning-dark

.content
  .blocks-gallery-grid
   margin: 0

.wp-block-gallery
  &.columns-3
    .blocks-gallery-item
      margin-right: .66667em

  &.columns-4
    .blocks-gallery-item
      margin-right: .75em
  &.columns-5
    .blocks-gallery-item
      margin-right: .8em

  &.columns-6
    .blocks-gallery-item
      margin-right: .833332em

  .blocks-gallery-item
    overflow: hidden

    &:last-child
      margin-right: 0

    figcaption
      opacity: 0 
      text-align: center
      transform: translateY(2em)
      transition: all $default-transition-timing ease-in-out

      a
        color: $gallery-figcaption-link
        pointer-events: auto

        &:hover
          color: $warning-dark

    &:hover
      figcaption
        opacity: 1
        transform: translateY(0)
