$feed-card-width: 340px !default

.feed-container
  padding: 0 1.5rem

// CARD LAYOUT
.card-layout
  .section
    align-items: stretch
    display: flex
    flex-wrap: wrap 
    flex-direction: row
    justify-content: center
    margin: 0 auto
    max-width: $widescreen

  .card
    display: flex
    flex-direction: column
    flex-wrap: nowrap 
    margin: 1em
    max-width: $feed-card-width
    transition: box-shadow $default-transition-timing ease-in-out

    figure
      margin: 0
      margin-bottom: 0 !important

    .card-content
      flex-grow: 2
      position: relative

    .card-title 
      margin-top: 1em
      h3
        font-weight: bold

    .card-footer 
      font-size: .9rem
      padding: 1em calc(1.5rem + 5%)

      .post-author
        margin-right: .5em

      time
        margin-left: .5em
    
    &:hover 
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15)

  .author-avatar
    left: 10%
    padding: 0 !important
    position: absolute
    top: 0
    transform: translateY(-50%)
