$header-huge: $size-1 !default
$header-large: $size-2 !default
$header-medium: $size-4 !default
$header-normal: $size-6 !default

.hentry
  align-items: flex-start
  display: flex
  flex-flow: row wrap
  flex-grow: 1
  justify-content: center
  .content
    h1,h2,h3,h4,h5,h6
      display: block
      font-family: $title-family
      width: 100%
    .has-huge-font-size,
    .has-larger-font-size
      font-size: $header-huge
    .has-large-font-size
      font-size: $header-large
    .has-medium-font-size
      font-size: $header-medium
    ul:not([class*="block"])
      padding-left: .5em
      @media( min-width: $tablet)
        padding-left: 1.5em
    *.has-text-align-left,
    *[data-align="left"]
      text-align: left
    *.has-text-align-right,
    *[data-align="right"]
      text-align: right
    *.has-text-align-center,
    *[data-align="center"]
      text-align: center
  .wp-block-image,
  .block-gallery-item
    cursor: pointer
  .box
    margin-left: auto
    margin-right: auto
    max-width: $tablet
    @media(min-width: $tablet)
      padding: 3rem
