$alignwide-max-width: $desktop !default
$page-main-width: 100% !default
$page-has-sidebar-main-width: 65% !default
$page-has-sidebar-main-max-width: 700px !default
$page-section-padding-x: 1.5rem !default
$page-section-padding-x-mobile: .5rem !default

#main-content
  margin: 0px auto
  width: $page-main-width

  &.has-sidebar
    margin: 0 auto
    width: $page-has-sidebar-main-width

    @media (min-width: $tablet)
      margin: 0
      max-width: $page-has-sidebar-main-max-width
      width: $page-has-sidebar-main-width

  .section
    padding: 2rem $page-section-padding-x-mobile

    @media(min-width: $tablet)
      padding: 3rem $page-section-padding-x

    &.py-0,
    &.p-0
      > .content
        > :last-child
          margin-bottom: 3rem

    > .content
      max-width: none

      > p,
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6,
      > ul,
      > ol,
      > figure,
      > blockquote
        margin: 1em auto
        max-width: $tablet
        width: 100%

        @media (min-width: $tablet)
          width: 80%

        @media (min-width: $desktop)
          width: 60%

      > div,
      > section
        margin-left: auto
        margin-right: auto

      .aligncenter
        margin-left: auto
        margin-right: auto

      > .alignwide
        margin: 1em auto
        max-width: $alignwide-max-width
        width: 100%
        
      > .alignfull
        margin: 1.5rem #{"-" + $page-section-padding-x-mobile}
        max-width: unset
        width: 100vw

        @media( min-width: $tablet )
          margin: 1.5rem #{"-" + $page-section-padding-x}

  .is-max-tablet
    margin-left: auto
    margin-right: auto
    max-width: $desktop - 1
