
@mixin pre-display()
  opacity: 0
  transform: translateY(-40px)
  transition: all .5s ease-in-out 0s

@mixin display()
  opacity: 1 !important
  transform: translateY(0) !important

.modal-target
  display: none

.modal-shown
  overflow: hidden
  body
    overflow: hidden
  .modal-content,
  .modal-card
    @include display()

.modal-content,
.modal-card
  @include pre-display()

#basic-modal
  .modal-content
    margin: 0 auto
    max-width: $tablet
    opacity: 0
    width: 94%

#card-modal
  .modal-card
    margin: 0 auto
    max-width: $tablet
    width: 94%

#image-modal
  .modal-content
    display: flex
    flex-flow: column nowrap
    max-height: none
    width: auto
    
    .image
      cursor: default
      height: auto
      margin: auto
      width: 100%

.modal
  .modal-content
    > *
      display: block !important
