
body 
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  min-height: 100vh

*[disabled]
  pointer-events: none

.screen-reader-text
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: inset(50%)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  word-wrap: normal

@import "hero"
@import "main"
@import "hentry"
@import "feed"
@import "sidebar"
@import "pagination"
@import "footer"
@import "message"
@import "modal"
@import "image"
@import "page-templates/bulma-full-hero"
@import "page-templates/sitemap"
