$page-aside-width: 30% !default
$page-aside-max-width: 300px !default
$sidebar-menu-item-background: $info !default
$sidebar-menu-item-background-hover: $primary !default
$sidebar-menu-item-color: $dark !default
$sidebar-menu-item-color-hover: $info !default
$sidebar-menu-current-item-background: $warning !default

.sidebar
  &:not(.linktree-container)
    margin: 0 auto
    padding: 1.5em
    width: 100%

    .section 
      align-items: flex-start
      display: flex
      flex-flow: row wrap
      justify-content: center

    .widget
      flex-grow: 1
      margin: 2em 0
      width: 100%

      &:first-child
        margin-top: 0

      &:last-child
        margin-bottom: 0

      &.widget_search,
      &.widget_media_video
        width: 100%

      &.widget_search
        margin: 0 0 1em 0
        padding: 1em 0
        border-bottom: 1px solid $grey-lighter

      &.widget_nav_menu
        ul
          margin: 0
          padding: 0

        li 
          margin: 0

          &.current-menu-item
            a
              background: $sidebar-menu-current-item-background
              color: $sidebar-menu-item-color-hover
              cursor: default
              pointer-events: none

        a
          background: $sidebar-menu-item-background
          color: $sidebar-menu-item-color
          display: block
          font-size: 1rem
          padding: .5em 1em
          transition: all $default-transition-timing ease-out

          &:hover
            background: $sidebar-menu-item-background-hover
            color: $sidebar-menu-item-color-hover

      &.widget_media_image
        padding: 0 1.5em
        img
          margin: 0 auto
          max-width: 300px
            

    @media (min-width: $tablet)
      margin: 0
      max-width: $page-aside-max-width
      padding: 0
      width: $page-aside-width

      .widget
        width: 100%

  &.content
    ul
      padding: 0
      margin: 0
      list-style: none

  .search-form
    .input-wrapper
      margin-left: auto
      min-width: 175px
      width: 70%

    .submit-wrapper
      margin-right: auto
