
.list-type-cards
  display: flex
  flex-flow: row wrap
  .card
    display: flex
    flex-flow: column nowrap
    flex-grow: 1
    justify-content: space-between
    margin: 1.5rem 2.5%
    width: 100%
    > *
      width: 100%
    .card-content
      flex-grow: 1
    .card-footer
      justify-self: flex-end
  @media (min-width: $mid-tablet)
    .card
      width: 45%
