@use "sass:map"

// Default Component Variables
$btt-top-symbol-color: $primary !default
$btt-top-symbol-animation-delay: none !default
$btt-top-symbol-position-top: 0 !default
$btt-bottom-symbol-color: $secondary !default
$btt-bottom-symbol-animation-delay: .12s !default
$btt-bottom-symbol-position-top: 15px !default

//// Positioning
$btt-positions: (left: auto, right: 5vw, top: auto, bottom: 5vh) !default
$btt-smaller-positions: (bottom: 3vh, left: auto, right: 3vw, top: auto) !default

$btt-bottom: map-get($btt-positions, bottom)
$btt-left: map-get($btt-positions, left)
$btt-right: map-get($btt-positions, right)
$btt-top: map-get($btt-positions, top)

$btt-smaller-bottom: map-get($btt-smaller-positions, bottom)
$btt-smaller-left: map-get($btt-smaller-positions, left)
$btt-smaller-right: map-get($btt-smaller-positions, right)
$btt-smaller-top: map-get($btt-smaller-positions, top)

//// Transition Effects
$btt-animation-name: btt !default
$btt-animation-duration: 2s !default
$btt-transition: transform 1s ease, opacity 1s ease !default
$btt-initial-opacity: 0 !default
$btt-initial-transform-val: 3em !default
$btt-initial-transform: translateY($btt-initial-transform-val) !default
$btt-scrolled-opacity: 1 !default
$btt-scrolled-transform: translateY(0) !default

#btt
  bottom: $btt-bottom
  display: inline-block
  font-size: 46px
  height: 40px
  opacity: $btt-initial-opacity
  left: $btt-left
  position: fixed
  right: $btt-right
  top: $btt-top
  @include text-outline(1px, 1px, 4px, #fff)
  transform: $btt-initial-transform
  transition: $btt-transition
  width: 40px
  z-index: 15
  body.scrolled &
    opacity: $btt-scrolled-opacity !important
    transform: $btt-scrolled-transform !important
  > a
    border-radius: 10px
    cursor: pointer
    display: block
    height: 100%
    position: relative
    &:active,
    &:focus
      outline: none
    &:focus
      box-shadow: 0 0 0 5px $link
  i
    animation-name: $btt-animation-name
    animation-iteration-count: infinite
    animation-duration: $btt-animation-duration
    left: 0
    line-height: .4
    pointer-events: none
    position: absolute
    text-align: center
    width: 100%

    &:first-child
      animation-delay: $btt-top-symbol-animation-delay
      color: $btt-top-symbol-color
      top: $btt-top-symbol-position-top

    &:last-child
      animation-delay: $btt-bottom-symbol-animation-delay
      color: $btt-bottom-symbol-color
      top: $btt-bottom-symbol-position-top

  body.has-navbar-fixed-bottom &
    bottom: calc(#{$btt-bottom} + var(--navbar-height))
    // top: $btt-bottom
    // transform: translateY(#{"-"+$btt-initial-transform-val})

  @media (max-width: $desktop - 1)
    bottom: $btt-smaller-bottom
    left: $btt-smaller-left
    right: $btt-smaller-right
    top: $btt-smaller-top
    body.has-navbar-fixed-bottom &
      bottom: calc(#{$btt-smaller-bottom} + var(--navbar-height))
      // top: $btt-smaller-bottom

@keyframes btt
  0%
    opacity: 0.8
    transform: translateY(0)

  50%
    opacity: 0.6
    transform: translateY(6px)

  70%
    opacity: 0.4

  100%
    opacity: 0.8
    transform: translateY(0)
