$review-alignment: left !default
$review-link-color: $link !default
$score-width: 120px !default

.review
  text-align: $review-alignment
  br 
    display: none
  figure.review-source
    margin: 0 1em 0 0
    text-align: center
    i
      display: block
      font-size: 3rem
      margin: 0
      line-height: normal
  a 
    color: $review-link-color !important
    display: block
    &:hover
      color: $dark !important
  h6.title
    display: block
    font-family: $family-primary
    margin-bottom: 5px
  .score
    font-size: 1em
    height: 22px
    position: relative
    width: $score-width
    > div
      left: 0
      line-height: 22px
      position: absolute
      top: 0
    .fa-star
      margin: 0
      width: 20%
    .background,
    .inner-set
      display: flex
      flex-flow: row
      justify-content: space-evenly
      color: $dark
      width: $score-width
    .foreground
      overflow: hidden
      z-index: 1
      .inner-set
        color: $warning
  .reviewer
    color: $grey
    display: block
    font-size: .9rem
    margin-bottom: 1em
  .review-description
    font-weight: 100

#slider-reviews
  margin: 0 !important
  width: 100% !important
  @media (min-width: $tablet)
    margin: 1em auto !important
.review-slide
  width: 100%
  .review
    margin: 0 auto
    width: 84%
