$slide-width: 90% !default
$fullscreen-slide-width: 100% !default
$slider-button-background: transparent !default
$slider-button-hover-background: transparent !default
$slider-button-height: 60px !default
$slider-button-width: 60px !default
$slider-button-height-mobile: ( $slider-button-height * .6 ) !default
$slider-button-width-mobile: ( $slider-button-width * .6 ) !default
$slider-button-color: $primary !default
$slider-button-position: outside !default
$slider-width: calc(100% - #{$slider-button-width * 2}) !default
$slider-width-mobile: calc(100% - #{$slider-button-width-mobile * 2}) !default
$slider-figcaption-color: $dark !default
$slider-figcaption-bg-color: adjust-color($light, $alpha: -0.2) !default
$fullscreen-slide-max-width: $widescreen !default
$fullscreen-button-view-bg-mobile: rgba(0,0,0,.6) !default
$fullscreen-button-view-color-mobile: $light !default
$fullscreen-figcaption-color: $light !default
$fullscreen-figcaption-bg-color: adjust-color($black, $alpha: -.4) !default
$dot-size: 10px !default
$dot-color: $dark !default

.slide-link
  display: block

  *
    pointer-events: none

.flickity-enabled
  width: $slider-width-mobile

  @media( min-width: $tablet)
    width: $slider-width

  .flickity-viewport
    transition: height $default-transition-timing ease

  .flickity-slider
    align-items: center
    display: flex
    flex-flow: row nowrap

  .slide
    width: $slide-width

    .content
      margin: 0

    .wp-block-image,
    .image
      margin: 0

    figure
      margin: 0 auto


      figcaption
        background: $slider-figcaption-bg-color
        color: $slider-figcaption-color
        font-size: .9em
        padding: .2em 1em
        width: 100%
        z-index: 2


      &.portrait-oriented
        max-height: 80vh
        max-width: 100%
        width: auto

      &.landscape-oriented
        height: auto
        max-height: none
        max-width: 100%

    .wp-block-cover__inner-container
      max-width: $tablet
      width: 80%

    .wp-block-embed
      margin: 0

  &.is-lazyloaded
    .slide
      figure
        position: relative

        &:after
          animation: spin 1.5s infinite linear
          content: "\f110"
          display: block
          font-family: "Font Awesome 5 Free"
          font-size: 30px
          font-weight: 900
          position: absolute
          left: calc( 50% - 15px)
          overflow: hidden
          top: calc( 50% - 23px)
          z-index: 1

      img
        opacity: 0
        position: relative
        transition: opacity 1s ease
        z-index: 2

        &.flickity-lazyloaded
          opacity: 1

  .flickity-button
    background: $slider-button-background
    cursor: pointer
    
    &:hover
      background: $slider-button-hover-background

  @if $slider-button-position == outside
    .flickity-prev-next-button
      transform: translate(-100%, -50%)

      &.next 
        transform: translate(100%, -50%)

  .flickity-prev-next-button,
  .flickity-fullscreen-button
    height: $slider-button-height
    width: $slider-button-width
    z-index: 2
    @media( max-width: 500px)
      height: $slider-button-height-mobile
      width: $slider-button-width-mobile

  .flickity-button-icon
    fill: $slider-button-color
    height: 60%
    left: 20%
    top: 20%
    width: 60%

  .flickity-page-dots
    margin: 0 !important
    z-index: 0

    .dot
      background-color: $dot-color
      height: $dot-size
      width: $dot-size

  &.is-fullscreen
    background: rgba(0,0,0,.85)
    max-width: none !important
    z-index: 40

    .slide
      height: 100%
      max-height: 96vh
      max-width: $fullscreen-slide-max-width !important
      overflow-y: auto
      width: $fullscreen-slide-width

      figure
        align-items: center
        display: flex 
        flex-flow: column nowrap
        justify-content: center
        height: 100%

        figcaption
          background: $fullscreen-figcaption-bg-color
          color: $fullscreen-figcaption-color
          position: absolute
          text-align: center
          top: 0

      img
        margin: auto
        max-height: 100% !important
        width: auto

        &.landscape-oriented
          width: auto

    &:not(.slider-nav-top)
      .flickity-page-dots
        left: 0
        width: 100%

      .flickity-prev-next-button
        border-radius: 0
        height: 100%
        opacity: .25
        top: 50%
        transition: opacity .3s ease
        transform: translateY(-50%)
        width: 20%

        &:hover
          opacity: 1
        
        &.next
          padding-left: 3em
          right: 0px

          .flickity-button-icon
            left: auto
            right: 20px

        &.previous
          left: 0px
          padding-right: 3em

        .flickity-button-icon
          fill: $light
          height: 40px
          left: 20px
          top: 50%
          transform: translateY(-50%)
          width: 40px

      .flickity-button-icon
        fill: $fullscreen-button-view-color-mobile

    &.slider-nav-top
      padding: 0

      .flickity-slider
        align-items: flex-end

      .slide
        max-height: calc(100vh - #{$slider-button-height})

        figure
          figcaption
            bottom: 0
            top: auto

      .flickity-page-dots
        // top: 5px
        // transform: none

      .flickity-fullscreen-button-exit
        right: 0
        top: 0

      .flickity-prev-next-button,
      .flickity-fullscreen-button
        height: $slider-button-height
        padding: 0
        width: $slider-button-width

        .flickity-button-icon
          fill: $light
  
  &.slider-nav-top
    padding-top: $slider-button-height

    .flickity-prev-next-button,
    .flickity-fullscreen-button-view
      top: 0px
      transform: translateY(0)

      &.next
        right: $slider-button-width

      &.previous
        left: 0px

    .flickity-page-dots
      bottom: auto
      left: $slider-button-width
      top: ( $slider-button-height - $dot-size )
      transform: translateY(-100%)
      width: (768 - ( 3 * $slider-button-width ))
      width: calc(100% - #{$slider-button-width * 3})

    @media( max-width: 500px)
      .flickity-prev-next-button
        &.next
          right: $slider-button-width-mobile

      .flickity-page-dots
        left: $slider-button-width-mobile
        top: ( $slider-button-height-mobile - $dot-size )
        transform: translateY(-50%)
        width: (768 - ( 3 * $slider-button-width-mobile ))
        width: calc(100% - #{$slider-button-width-mobile * 3})


  .flickity-fullscreen-button-exit
    z-index: 50

#gallery-slider
  .flickity-viewport
    margin: auto
    width: 100vw

  .slide
    align-items: center
    display: flex
    flex-flow: row wrap
    height: 90vh
    min-width: 30vw
    width: auto

    img
      height: 100%
      max-height: 90vh
      max-width: 100vw
      opacity: 0
      transition: all .3s ease
      width: auto

      &.flickity-lazyloaded
        opacity: 1

    figure
      margin-bottom: 0

      &:after
        color: $info

      > a
        pointer-events: none

      figcaption
        bottom: 0
        color: $grey-light
        opacity: 0
        position: absolute
        text-align: center
        transition: all $default-transition-timing ease-in-out

        a
          color: $gallery-figcaption-link

          &:hover
            color: $gallery-figcaption-link-hover
            
    &.is-selected
      figure
        figcaption
          opacity: 1

