@use "sass:map"

$social-colors: ("verified": #1dcaff, "google": #4285F4, "facebook": #3b5998, "twitter": #00aced, "pinterest": #cb2027, "linkedin": #007bb6, "youtube": #bb0000, "vimeo": #1ab7ea, "tumblr": #34465d, "reddit": #ff5700, "soundcloud": #ff3300, "instagram": #e4405f, "twitch": #9147ff, "amazon": #232f3e, "bandcamp": #1DA0C3, "digital-ocean": #006aff, "ethereum": #D8D1FC, "ebay": #3665f3, "etsy": #F1641E, "github": #24292e, "gitlab": #fc6d26, "google-wallet": #2962ff, "itunes": #151515, "kickstarter": #037362, "paypal": #0070ba, "discord": #7289da, "strava": #FF3500, "wordpress": #0085ba, "ubuntu": #e95420, "yelp": #d32323, "steam": #171a21, "spotify": #1ed760, "shopify": #008060, "tripadvisor": #37E3B1 )

@function social-var($name)
  @if not map-get($social-colors, $name+'')
    @error "Color `#{$name}` not found in map $colors"

  @return var(#{"--" + unquote($name)})

#{":root"}
  @each $class-name, $hex in $social-colors
    #{"--" + $class-name}: #{$hex}

@each $class-name, $hex in $social-colors
  .fa-#{$class-name}
    color: #{social-var($class-name)}
  .has-background-#{$class-name}
    background-color: #{social-var($class-name)} !important
  .is-color-#{$class-name}
    color: #{social-var($class-name)} !important
